    

  <link rel="stylesheet" type="text/css" href="main.css"/> 
  {% extends 'base.html' %}
  {% block content %}
<style>
  body{
    background-color: #16212d;
    
 }
 p{
    font-family: 'proxima-nova', sans-serif;
    font-size: 18px;
    color: white;
 }
 h1{
    font-family: 'orpheus-pro', serif;
    font-weight: bold;
    font-size: 34px;
    color: white;
 }
 
 h2{
    font-family: 'orpheus-pro', serif;
    font-weight: medium;
    font-size: 24pt;
    color: white;
 }
 
 ul, li {
    color: white;
 }
</style>


    <span class="title" style = "text-align:center">
        <h1>{% block title %} {{ address.Street }} is considered <b>high risk</b>.{% endblock %}</h1>
    </span>
    <div class="content">
            <div class="address">
               
             
               
        <div id="map" style="height: 500px; width: 80%;  margin-left: auto;
        margin-right: auto;"></div>
                <script type="text/javascript">
                  var map = L.map('map').setView([29.50897713243079, -81.80543953130356], 10);
                  const satelliteLayer = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    maxZoom: 15,
                    minZoom: 10,
                    id: 'danacassidy/cl250vjo7000g14mn4aair6pl',
                    tileSize: 512,
                    zoomOffset: -1,
                    accessToken: 'pk.eyJ1IjoiZGFuYWNhc3NpZHkiLCJhIjoiY2wxd3EweHByMDBvZTNrbWIxbWYwMHUzNSJ9.gSnbIiFFLkMUhhYmBrJhOw'
                }).addTo(map);               
                
                function myFunc(vars) {
                  return vars
                }
                myVar = myFunc({{data|tojson}})

               
                console.log(myVar);
               

              var marker = L.marker([myVar['latitude'], myVar['longitude']],{
                  radius: 8,
                  color: "#3388ff",
                  weight: 1,
                  opacity: 1,
                  fillOpacity: 0.8
              }).addTo(map).bindTooltip( "This is " + myVar['address'] + ".", {permanent: true});
              var marker2 = L.circleMarker([ 29.50897713243079, -81.80543953130356],{
                radius: 15,
                color: "red",
                weight: 1,
                opacity: 1,
                fillOpacity: 0.7
            }).addTo(map).bindTooltip( "This is the Rodman Dam", {permanent: true});;
                

                </script>
                <div style="padding:2%"></div>
                <div class= "border border-dark container" style= "width: 80%; align-items:left">       
                <p>
                  Your property is listed as one of more than 530 affected structures at risk should the dam fail. 

                </p>

               <p>Look out for direction from the FDEP about the opt-in emergency notification system so you can be in the know if there’s ever an issue. 
              </p>

              <p>In the meantime, here’s how to contact local legislators, FDEP officials and Gov. Ron DeSantis to either express your thoughts and concerns or to find more information.</p>

              <p>Town Leadership </p>
             <p><ul>
              <li>Welaka Mayor Jason Watts: jwatts@welaka-fl.gov, (386) 467-9800</li>
              <li>Crescent City Mayor Michele Myers: mayor@crescentcity-fl.com, (386) 698-2525</li>
              <li>Palatka Mayor Terill L. Hill: thill@palatka-fl.gov, (386) 329-0100</li>
             </ul>

              <p>State Leadership 
              </p>
              <p><ul>
               <li>State Sen. Keith Perry: Email him <a href= "https://www.flsenate.gov/Senators/S8"> here</a>. Call his district office in Gainesville at (352) 264-4040.</li>
               <li>State Rep. Bobby Payne: Email him <a href="https://www.myfloridahouse.gov/Sections/Representatives/contactmember.aspx?MemberId=4653&SessionId=95">here</a>. Call his district office in Palatka at (386) 312-2272.</li>
              </ul></p>


              <p>FDEP Leadership
              </p>
              <p><ul>
               <li>Florida Department of Environmental Protection Secretary Shawn Hamilton: (386) 312-2272</li>
              </ul></p>

              <p>To contact Gov. Ron DeSantis, email him at GovernorRon.Desantis@eog.myflorida.com. Call his Tallahassee office at (850) 717-9337.
              </p>


                  </div>
                  <div style= "text-align:center">
                    <a href="{{ url_for('search') }}" class="btn btn-light" >Back to Search</a>
                  <div>
                    <div style="padding:2%">
                    </div>
                </body>
              </div>
            
                        
       
    </div>
   
  {% endblock %}