
{% extends 'base.html' %}

{% block content %}

    <span class="title" style = "text-align:center">
    
               
             
<h1> This address is not in our database</h1>
<i><p>
  Think it's in the database? Double-check the spelling of your address and don't include city, state, or zipcode in the search.
</p></i>
<div class= "border border-dark container" style= "padding: 2%; width: 80%; text-align:left">   

  

<p>
  Your home is not listed as one of more than 530 affected homes in the dam failure analysis. 
</p>

<b><p>Still, you can contact the Florida Department of Environmental Protection or the Governor should you have concerns. </p></b>

<p>If you live in Florida, find contact information for your state representative <a href="https://www.myfloridahouse.gov/findyourrepresentative">here</a> and your state senator <a href="https://m.flsenate.gov/senators/find">here.</a>
</p>


<p>FDEP Leadership
</p>
<p><ul>
 <li>Florida Department of Environmental Protection Secretary Shawn Hamilton: (386) 312-2272</li>
</ul></p>

<p>To contact Gov. Ron DeSantis, email him at GovernorRon.Desantis@eog.myflorida.com. Call his Tallahassee office at (850) 717-9337.
</p>

<div style= "text-align:center">
  <a href="{{ url_for('search') }}" class="btn btn-light" >Back to Search</a>
<div>
</div>


            
                        
       
    </div>
   
    </html>

  {% endblock %}
